<!DOCTYPE html>
<html lang="en" ng-app=shopApp>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3 lab | Zakharina</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>


<body ng-controller="purchaseCtrl">
    <div class="container">
        <p class="comment">Перед проверкой запустите сервер командами npm install и npm run start</p>
        <div class="post">
            <p class="post-title">{{action}} element:</p>
            <form class="post-inputs" id="post-inputs" name="postInputs" ng-submit="addNewPurchase()">
                <input ng-repeat="field in fieldList" type="text" ng-model="formList[field]" class="post-input"
                    type="text" required="" placeholder="{{field}}">
                <button class="post-btn" form="post-inputs">Push</button>
            </form>

        </div>
        <table id="result" class="table">
            <thead>
                <tr>
                    <th ng-repeat="field in fieldList">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td ng-repeat="value in item">{{value}}</td>
                    <td><button ng-click="deletePurchase()" class="close-btn" data-close=type="button"></button></td>
                    <td><button ng-click="editPurchase()" class="edit-btn" type="button"></button></td>
                </tr>
                <tr>
                    <td class="Average">Average:</td>
                    <td ng-repeat="sumEl in sum track by $index">{{sumEl}}</td>
                </tr>
                <tr>
                    <td class="Sum">Sum:</td>
                    <td ng-repeat="avgEl in avg track by $index">{{avgEl}}</td>
                </tr>
            </tbody>
        </table>
        <div class="manager">
            <table>
                <thead>
                    <tr>
                        <th>{{fieldList[7]}}</th>
                        <th>{{fieldList[2]}}</th>
                        <th>{{fieldList[3]}}</th>
                    </tr>
                </thead>
                <tr ng-repeat="manager in allKeyValue">
                    <td>{{manager.name}}</td>
                    <td>{{manager.firstCrit}}</td>
                    <td>{{manager.secondCrit}}</td>
                </tr>

            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>